.main {
  border-top: 4px solid #333;
  position: relative;
}
.main::after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  height: 8px;
  width: 100%;
  background: #94faff;
  background: -moz-linear-gradient(left,  #94faff 0%, #fbae17 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#94faff), color-stop(100%,#fbae17));
  background: -webkit-linear-gradient(left,  #94faff 0%,#fbae17 100%);
  background: -o-linear-gradient(left,  #94faff 0%,#fbae17 100%);
  background: -ms-linear-gradient(left,  #94faff 0%,#fbae17 100%);
  background: linear-gradient(to right,  #94faff 0%,#fbae17 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#94faff', endColorstr='#fbae17',GradientType=1 );
}



/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}



/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}



/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  background-image: url(../img/bg.jpg);
  background-size: cover;
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 30px 30px 120px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}



/* Input checkbox */

input[type="checkbox"] {
  display:none;
}
input[type="checkbox"] + label > .checkbox {
  display:inline-block;
  width: 14px;
  height: 14px;
  margin: -3px 6px 0 0;
  vertical-align:middle;
  background-color: #fff;
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid #ccc;
}
input[type="checkbox"]:checked + label > .checkbox {
  background-color: #fbae17;
  border: 1px solid #f6a504;
}
input[type="checkbox"]:checked + label {
  font-weight: bold;
}



/* Sidebar navigation */

.sidebar .navbar-form {
  background-color: rgba(0, 0, 0, 0.025);
  margin: -40px -40px 0;
  padding: 40px 40px 20px;
  border-bottom: 1px solid #eee;
}
.sidebar .navbar-form h4 {
  margin: 0 0 7px 15px;
}
.sidebar .navbar-form input {
  width: 100%;
}
.nav-sidebar {
}
.nav-sidebar > li > form {
  clear: both;
  overflow: hidden;
  padding: 10px 0 0;
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.675);
}
.nav-sidebar > li > form input {
}
.nav-sidebar > li > form label:hover,
.nav-sidebar > li > form label:focus {
  background-color: #fff;
  box-shadow: inset 0 1px 0 #eee, inset 0 -1px 0 #eee;
  
}
.modal-body > form > label,
.nav-sidebar > li > form label {
  position: relative;
  cursor: pointer;
  float: none;
  width: 100%;
  margin-bottom: 0;
  font-weight: normal;
  line-height: 20px;
  padding: 7px 60px 7px 15px;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.modal-title {
  line-height: 1;
}
.modal-body > form {
  margin: -15px;
}
.modal-body > form > *:nth-child(2n+2) {
  border-top: 1px solid #eee;
}
.modal-body > form > *:nth-child(4n) {
  background-color: #f9f9f9;
}
/*
.modal-body > form > label:hover {
  background-color: rgba(0, 0, 0, 0.075);
}
*/
.modal-body > form > label > .quantity,
.nav-sidebar > li > form > label > .quantity {
  position: absolute;
  right: 15px;
  top: 7px;
  float: right;
  text-align: right;
}
.nav-sidebar > li > h4 {
  margin: 40px 20px 7px 15px;
}
.nav-sidebar > li + * > h4 {
}
.searchOptionInExBtn {
  border-top: 1px solid #eee;
  clear: both;
  padding: 10px 15px 10px 10px;
  margin-top: 10px;
}
.searchOptionInExBtn > .btn-default {
  float: right;
  margin-left: 7px;
}



/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}








.resultCell {
  width: 100%;
  clear: both;
  overflow: hidden;
  padding: 15px 40px 20px;
}

.resultCell + * {
  border-top: 1px solid #eee;
}
.resultCell:nth-of-type(even) {
  background-color: #f9f9f9;
}

.resultCell > .imgBox {
  float: left;
  width: 15%;
  padding-top: 5px;
  padding-right: 30px;
}
.resultCell > .imgBox > img {
  width: 100%;
  border: 1px solid #eee;
}

.resultCell > .description {
  float: left;
  width: 65%;
}
.resultCell > .description > p > .badge {
  margin-left: 5px;
/*  margin-top: -4px;*/
  float: left;
  background-color: #fbae17;
}
.resultCell > .description > p {
  padding: 5px 0 0;
  clear: both;
  overflow: hidden;
}
.resultCell > .description > p + * {
  border-top: 1px solid #eee;
}
.resultCell > .description > p > .caption {
  float: left;
  width: 14%;
  margin-top: 2px;
  margin-bottom: 0;
/*  font-size: 70%;*/
  color: #aaa;
}
.resultCell > .description > p > .dpt-text {
  float: left;
/*  width: 88%;*/
  max-width: 86%;
}

.resultCell > .actionBtnCon {
  float: left;
  width: 20%;
}