::selection {
  color: #fbae17;
  background-color: #333;
}

body { padding-top: 54px; }
.main { position: relative; }

/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top { border-bottom: 4px solid #333; }

/*
 * Sidebar
 */

/* Hide for mobile, show later */

.sidebar {
  background-image: url(../img/bg.jpg);
  background-size: cover;
  position: fixed;
  top: 54px;
  bottom: 0;
  left: 0;
  z-index: 1002;
  display: block;
  padding: 30px 20px 120px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #f5f5f5;
  border-right: 1px solid #eee;
  width: 300px;
}





/* Sidebar navigation */

.sidebar .navbar-form {
  background-color: rgba(0, 0, 0, 0.025);
  margin: -30px -20px 0;
  padding: 20px 20px;
  border-bottom: 1px solid #eee;
}
.sidebar .navbar-form h3 {
  margin: 0 0 7px 10px;
}
.sidebar .navbar-form .input-group {
  width: 100%;
}
.nav-sidebar {
}
.nav-sidebar > li {
  opacity: 0;
  pointer-events: none;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}
.nav-sidebar > li.active {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.nav-sidebar > li > form {
  clear: both;
  overflow: hidden;
  padding: 10px 0 0;
  border-radius: 3px;
/*  border: 1px solid #eee;*/
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.675);
}
.nav-sidebar > li > form input {
}
.nav-sidebar > li > form label:hover,
.nav-sidebar > li > form label:focus {
  background-color: #fff;
  box-shadow: inset 0 1px 0 #eee, inset 0 -1px 0 #eee;
  
}

.modal-body > form > label,
.nav-sidebar > li > form label {
  position: relative;
  cursor: pointer;
  float: none;
  width: 100%;
  margin-bottom: 0;
  font-weight: normal;
  line-height: 20px;
  padding: 7px 60px 7px 15px;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.modal-title {
  line-height: 1;
}
.modal-body > form {
  margin: -15px;
}
.modal-body > form > *:nth-child(2n+2) {
  border-top: 1px solid #eee;
}
.modal-body > form > *:nth-child(4n) {
  background-color: #f9f9f9;
}
/*
.modal-body > form > label:hover {
  background-color: rgba(0, 0, 0, 0.075);
}
*/
.modal-body > form > label > .quantity,
.nav-sidebar > li > form > label > .quantity {
  position: absolute;
  right: 15px;
  top: 8px;
  float: right;
  text-align: right;
}
.nav-sidebar > li > h4 {
  margin: 40px 20px 7px 10px;
}
.nav-sidebar > li + * > h4 {
}
.searchOptionInExBtn {
  border-top: 1px solid #eee;
  clear: both;
  padding: 10px 15px 10px 10px;
  margin-top: 10px;
}
.searchOptionInExBtn > .btn-default {
  float: right;
  margin-left: 7px;
}



/*>>>*/
.search-toolBar {
  width: 100%;
  position: fixed;
  top: 54px;
  right: 0;
  height: 55px;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.95);
/*  box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);*/
  padding: 10px 20px 10px 320px;
  z-index: 1000;
  border-bottom: 1px solid #eee;
}
.search-toolBar > .btn-group {
  margin-left: 16px;
}
.search-toolBar-pagination {
  overflow: visible;
  float: right;
  margin-top: -1px;
}
.search-toolBar-pagination > button {
  float: left;
}
.search-toolBar-pagination > .pagination-caption {
  float: left;
  line-height: 34px;
  padding-top: 1px;
  padding-right: 10px;
}
.search-toolBar .paginationLeft {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none;
}
.search-toolBar .paginationRight {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.sortByCon {
  position: relative;
}
.sortByCon > span {
  position: absolute;
  top: 12px;
  right: 15px;
  z-index: 1000;
}
.sortBy {
  -webkit-appearance: none;
  clear: both;
  overflow: hidden;
  padding: 10px 0;
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.675);
  border: none;
  padding: 10px 15px;
  width: 100%;
}

/*
.sortBy > div {
  position: relative;
  cursor: pointer;
  float: none;
  width: 100%;
  margin-bottom: 0;
  font-weight: normal;
  line-height: 20px;
  padding: 7px 60px 7px 15px;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.sortBy > div:hover,
.sortBy > div:focus {
  background-color: #fff;
  box-shadow: inset 0 1px 0 #eee, inset 0 -1px 0 #eee;
}
.sortBy > div.active {
  font-weight: bold;
  color: #fff;
  background-color: #fbae17;
  box-shadow: none;
}
*/



/*>>>*/
.search-pagination {
  text-align: center;
}
footer.search-footer {
  border-top: 1px solid #eee;
/*  margin: 0 -40px;*/
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
}
footer.search-footer p {
  margin: 0;
}
footer.search-footer a {
  color: #aaa;
}
/*
 * Main content
 */

.main {
  padding: 20px 0 0;
}
.col-md-offset-300px {
  margin-left: 300px;
}


.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}





/* Input checkbox >>> */

input[type="checkbox"]         { display:none; }
input[type="checkbox"] + label { position: relative; }
input[type="checkbox"] + label > .checkbox {
  display:inline-block;
  width: 14px;
  height: 14px;
  margin: -3px 6px 0 0;
  vertical-align:middle;
  background-color: #fff;
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid #ccc;
}
input[type="checkbox"]:checked + label > .checkbox {
  background-color: #fbae17;
  border: 1px solid #f6a504;
}
input[type="checkbox"]:checked + label         { font-weight: bold; }
input[type="checkbox"]:checked + label .imgBox { box-shadow: 0 0 0 4px #fbae17; }
.resultTable input[type="checkbox"] + label { padding-right: 30px; }
.resultTable input[type="checkbox"] + label > .checkbox {
  position: absolute;
  top: 12px;
  left: 10px;
  z-index: 1;
}


.resultTable {
  overflow: hidden;
  padding-top: 34px;
  margin: 0 0;
  border-bottom: 1px solid #eee;
}
.resultCell {
  width: 100%;
  clear: both;
  overflow: hidden;
  padding: 20px 40px 30px 40px;
  opacity: 0;
  pointer-events: none;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}
.resultCell.active {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.resultCell + *              { border-top: 1px solid #eee; }
.resultCell:nth-of-type(odd) { background-color: #f9f9f9; }
.resultCell label {
  float: left;
  width: 20%;
}
.resultCell .imgBox {
  max-width: 150px;
  background-color: #000;
  display: inline-block;
  position: relative;
}
.resultCell .imgBox:hover > img {
  opacity: 0.5;
}
.resultCell .imgBox > img {
  width: 100%;
  border: 1px solid #eee;
}
.resultCell .imgBox button {
  width: auto;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.75);
  border: none;
  border-radius: 28px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  opacity: 0;
  pointer-events: none;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}
.resultCell .imgBox button:hover { background-color: #fff; }
.resultCell .imgBox:hover button {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.resultCell .actionBtnCon button + * { margin-top: 10px; }
.resultCell .actionBtnCon {
  display: inline-block;
  float: left;
  overflow: hidden;
  width: 20%;
  padding-left: 30px;
}
.resultCell .quickLook {
  position: absolute;
  top: auto;
  left: 0;
  right: 0;
  bottom: 50%;
  z-index: 1;
  margin-bottom: 0;
  text-align: center;
  -webkit-transform: translateY(14px);
          transform: translateY(14px);
}
.resultCell > .description {
  position: relative;
  float: left;
  width: 60%;
}

.resultCell > .description > p {
  padding: 7px 0 0;
  clear: both;
  overflow: hidden;
}
.resultCell > .description > p > .caption {
  float: left;
  width: 18%;
  margin-top: 2px;
  padding-right: 5px;
  margin-bottom: 5px;
  color: #aaa;
}
.resultCell > .description > p > .dpt-text {
  float: left;
  max-width: 82%;
  margin: 0;
}
.resultCell > .description > p > .dpt-text.h4 {
  font-weight: bold;
  cursor: pointer;
}

.resultCell > .description > p > .badge {
  float: left;
  margin-top: 1px;
  margin-left: 5px;
  background-color: #fbae17;
}
.resultCell > .description > p > .badge.greyOut {
  background-color: #aaa;
}
.resultCell > .description > p > .badge.onSite {
  color: #fff;
  background-color: #89c5b9;
}

.grid .resultCell {
  float: left;
  clear: none;
  width: 25%;
  color: #777;
  padding: 20px 40px 30px;
  border-top: none;
}
.grid .resultCell:nth-child(4n + 2) { clear: both; }
.grid .resultCell:nth-of-type(odd)  { background-color: transparent; }
.grid .resultCell label {
  display: inline-block;
  float: left;
  width: 100%;
}
.grid .resultCell .imgBox {
  float: none;
  max-height: 200px;
}
.grid .resultCell .imgBox > img {
  width: auto;
  max-height: 200px;
}

.grid .resultCell .description {
  clear: both;
  width: 100%;
  margin-top: 40px;
}
.grid .resultCell .description > p {
  padding: 0;
  margin-bottom: 5px;
}
.grid .resultCell .description > p > .badge {
  position: absolute;
  top: -30px;
  left: 0;
  float: none;
  margin-left: 0;
  margin-top: 0;
}
.grid .resultCell .description > p > .caption { display: none; }
.grid .resultCell .description > p > .dpt-text { clear: both; }
.grid .resultCell .description > p > .dpt-text.h4 {
  font-weight: bold;
  cursor: pointer;
  color: #000;
}
.grid .resultCell .resultCell-list { display: none; }
.grid .resultCell .actionBtnCon    { display: none; }

/*>>>*/



.resultCell.detail {
  background-color: transparent;
  padding: 20px 20px 40px;
  border: none;
}
.resultCell.detail + * {
  border: none;
}
.resultCell.detail > .imgBox {
  width: 30%;
  padding-top: 0;
}
.resultCell.detail > .description {
  width: 50%;
}
.resultCell.detail > .description > p {
  padding: 0;
}
.resultCell.detail > .description > p > .caption {
  width: 100%;
}
.resultCell.detail > .description > p > .dpt-text {
  max-width: 100%;
}
.resultCell.detail > .description.description-sup {
  width: 20%;
  width: 100%;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #f9f9f9;
  border: 1px solid #eee;
}
.resultCell.detail > .description.description-sup > p {
  width: 20%;
  padding-right: 5px;
  float: left;
  clear: none;
}





.tab-content {
  margin: 0 -15px;
}
.tab-content .tab-pane {
  padding: 20px 40px 40px;
  background-color: #f9f9f9;
}
.tab-content .tab-pane h3,
.tab-content .tab-pane h4 {
  font-weight: bold;
  max-width: 700px;
}
.tab-content .tab-pane h4 ~ h4 {
  margin-top: 30px;
}
.tab-content .tab-pane p {
  line-height: 1.6125;
  max-width: 600px;
  font-size: 1.2em;
}


.dark-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 1001;
}
.dark-overlay.active {
  pointer-events: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
.sidebar-toggle { display: none; }



@media (max-width: 1200px) {
  .grid .resultCell                   { width: 33.3333333333%; }
  .grid .resultCell:nth-child(4n + 2) { clear: none; }
  .grid .resultCell:nth-child(3n + 2) { clear: both; }
}

@media (max-width: 992px) {
  .sidebar-toggle {
    display: inline-block;
    width: 100%;
    height: 50px;
    text-align: center;
    background-color: #333;
    cursor: pointer;
  }
  .sidebar-toggle > span {
    padding: 8px 16px;
    line-height: 50px;
    color: #fff;
  }
  .sidebar {
    max-width: 75%;
    opacity: 0;
    pointer-events: none;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  .sidebar.active {
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .col-md-offset-300px {
    padding-right: 0;
    padding-left: 0;
    margin-left: 0;
  }
  .search-toolBar { padding: 10px 20px; }
}

@media (min-width: 768px) {

}
@media (max-width: 560px) {
  .grid .resultCell                   { width: 50%; }
  .grid .resultCell:nth-child(4n + 2),
  .grid .resultCell:nth-child(3n + 2) { clear: none; }
  .grid .resultCell:nth-child(2n + 2) { clear: both; }
}