body.search { padding-top: 50px; }
.main {
  position: relative;
  padding: 20px 0 0;
}
.main .page-header { margin-top: 0; }
.col-md-offset-300px { margin-left: 300px; }

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.sidebar {
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  top: 50px;
  left: 0;
  bottom: 0;
  z-index: 1002;
  width: 300px;
  padding: 30px 20px 120px;
  border-right: 1px solid #eee;
  background-color: #eee;
}
.sidebar .navbar-form {
  margin: -30px -20px 0;
  padding: 20px 20px;
  border-bottom: 1px solid #eee;
  background-color: rgba(255, 255, 255, 0.5);
}
.sidebar .navbar-form h3 {
  margin: 0 0 7px 10px;
}
.sidebar .navbar-form .input-group {
  width: 100%;
}
.nav-sidebar > li {
  opacity: 0;
  pointer-events: none;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}
.nav-sidebar > li.active {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.nav-sidebar .sortBy,
.nav-sidebar > li > form {
  clear: both;
  overflow: hidden;
  width: 100%;
  padding: 10px 0 0;
  border: 1px solid #eee;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.nav-sidebar > li > form label:hover,
.nav-sidebar > li > form label:focus {
  background-color: #fafafa;
  box-shadow: inset 0 1px 0 #eee, inset 0 -1px 0 #eee;
}

.nav-sidebar > li > form > label > .quantity {
  position: absolute;
  right: 15px;
  top: 8px;
  float: right;
  text-align: right;
}
.nav-sidebar > li > h4 {
  margin: 40px 20px 7px 10px;
}
.searchOptionInExBtn {
  clear: both;
  margin-top: 10px;
  padding: 10px 15px 10px 10px;
  border-top: 1px solid #eee;
}
.searchOptionInExBtn > .btn-default {
  float: right;
  margin-left: 7px;
}

.search-toolBar {
  position: fixed;
  top: 50px;
  right: 0;
  z-index: 1000;
  width: 100%;
  height: 55px;
  padding: 10px 20px 10px 320px;
  border-bottom: 1px solid #eee;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.search-toolBar > .btn-group { margin-left: 16px; }
.search-toolBar-pagination {
  overflow: visible;
  float: right;
  margin-top: -1px;
}
.search-toolBar-pagination > button { float: left; }
.search-toolBar-pagination > .pagination-caption {
  float: left;
  line-height: 34px;
  padding-top: 1px;
  padding-right: 10px;
}
.search-toolBar .paginationLeft {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none;
}
.search-toolBar .paginationRight {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.nav-sidebar .sortByCon {
  position: relative;
}
.nav-sidebar .sortByCon > span {
  position: absolute;
  top: 12px;
  right: 15px;
  z-index: 1000;
}
.nav-sidebar .sortBy {
  -webkit-appearance: none;
  padding: 10px 15px;
}
.search-pagination {
  text-align: center;
}

input[type="checkbox"] { display:none; }
input[type="checkbox"] + label { position: relative; }
input[type="checkbox"] + label > .checkbox {
  vertical-align: middle;
  display: inline-block;
  width: 14px;
  height: 14px;
  margin: -3px 6px 0 0;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #fff;
  cursor: pointer;
}
input[type="checkbox"]:checked + label > .checkbox {
  background-color: #fbae17;
  border: 1px solid #f6a504;
}
input[type="checkbox"]:checked + label { font-weight: bold; }
input[type="checkbox"]:checked + label .imgBox img { box-shadow: 0 0 0 4px #fbae17; }
.resultCell input[type="checkbox"] + label { padding-right: 30px; }
.resultCell input[type="checkbox"] + label > .checkbox {
  position: absolute;
  top: 12px;
  left: 10px;
  z-index: 1;
}

.resultTable {
  overflow: hidden;
  padding-top: 34px;
  border-bottom: 1px solid #eee;
}
.resultCell {
  width: 100%;
  clear: both;
  overflow: hidden;
  padding: 30px 40px 30px;
  opacity: 0;
  pointer-events: none;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}
.resultCell.active {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.resultCell + * { border-top: 1px solid #eee; }
.resultCell:nth-of-type(odd) { background-color: #f9f9f9; }
.resultCell label {
  float: left;
  width: 20%;
}
.resultCell .imgBox {
  max-width: 150px;
  background-color: #000;
  display: inline-block;
  position: relative;
}
.resultCell .actionBtnCon button + * { margin-top: 10px; }
.resultCell .actionBtnCon {
  display: inline-block;
  float: left;
  overflow: hidden;
  width: 20%;
  padding-left: 30px;
}
.resultCell .quickLook {
  position: absolute;
  top: auto;
  left: 0;
  right: 0;
  bottom: 50%;
  z-index: 1;
  margin-bottom: 0;
  text-align: center;
  -webkit-transform: translateY(14px);
          transform: translateY(14px);
}
.resultCell > .description {
  position: relative;
  float: left;
  width: 60%;
}

.resultCell > .description > p {
  clear: both;
  overflow: hidden;
  padding-top: 7px;
}
.resultCell > .description > p:first-child { padding-top: 0; }
.resultCell > .description > p > .caption {
  float: left;
  width: 18%;
  margin-top: 2px;
  margin-bottom: 5px;
  padding-right: 5px;
  color: #aaa;
}
.resultCell > .description > p > .dpt-text {
  float: left;
  max-width: 82%;
  margin: 0;
}
.resultCell > .description > p > .dpt-text.h4 {
  font-weight: bold;
  cursor: pointer;
}

.resultCell .badge {
  float: left;
  margin-top: 1px;
  margin-left: 5px;
  background-color: #fbae17;
}
.resultCell .badge.greyOut {
  background-color: #aaa;
}
.resultCell .badge.onSite {
  color: #fff;
  background-color: #89c5b9;
}

.grid .resultCell {
  float: left;
  clear: none;
  width: 25%;
  color: #777;
  padding: 30px 40px;
  border-top: none;
}
.grid .resultCell:nth-child(4n + 1) { clear: both; }
.grid .resultCell:nth-of-type(odd)  { background-color: transparent; }
.grid .resultCell label {
  display: inline-block;
  float: left;
  width: 100%;
}
.grid .resultCell .imgBox {
  float: none;
}
.grid .resultCell .imgBox > img {
  width: auto;
  max-height: 200px;
}

.grid .resultCell .description {
  clear: both;
  width: 100%;
  margin-top: 40px;
}
.grid .resultCell .description > p {
  padding: 0;
  margin-bottom: 5px;
}
.grid .resultCell .description > p > .badge {
  position: absolute;
  top: -30px;
  left: 0;
  float: none;
  margin-left: 0;
  margin-top: 0;
}
.grid .resultCell .description > p > .caption { display: none; }
.grid .resultCell .description > p > .dpt-text { clear: both; }
.grid .resultCell .description > p > .dpt-text.h4 {
  font-weight: bold;
  cursor: pointer;
  color: #000;
}
.grid .resultCell .resultCell-list { display: none; }
.grid .resultCell .actionBtnCon    { display: none; }

.nav-sidebar > li > form > label > .quantity {
  float: right;
  position: absolute;
  top: 8px;
  right: 15px;
  text-align: right;
}
.nav-sidebar > li > h4 {
  margin: 40px 20px 7px 10px;
}
.searchOptionInExBtn {
  clear: both;
  border-top: 1px solid #eee;
  margin-top: 10px;
  padding: 10px 15px 10px 10px;
}
.searchOptionInExBtn > .btn-default {
  float: right;
  margin-left: 7px;
}

.resultDetail { background-color: #fafafa; }
.modal .modal-content {
  max-height: 90vh;
  overflow: scroll;
}
.modal2 .modal-content {
  max-height: 100%;
  overflow: scroll;
  padding-top: 10px;
  border-top: none;
  border-bottom: none;
  border-radius: 0;
}
.modal2 .tab-content .tab-pane {
  padding-bottom: 100px;
}

.modal2 .resultCell input[type="checkbox"] + label > .checkbox { display: none; }
.modal2 input[type="checkbox"]:checked + label .imgBox img { box-shadow: none; }

.resultCell.detail {
  padding: 20px 30px 40px;
  border: none;
  background-color: transparent;
}
.resultCell.detail + * { border: none; }
.resultCell.detail .imgBox {
  background-color: transparent;
}
.resultCell.detail .imgBox:hover > img { opacity: 1; }
.resultCell.detail .imgBox button { display: none; }
.resultCell.detail > .description {
  width: 50%;
}
.resultCell.detail > .description > p {
  padding: 0;
}
.resultCell.detail > .description > p > .caption {
  width: 100%;
}
.resultCell.detail > .description > p > .dpt-text {
  max-width: 100%;
}
.resultCell.detail > .actionBtnCon {
  width: 30%;
}

.modal-content {
  box-shadow: none;
  border: 1px solid #eee;
}
.modal-body > form > label,
.nav-sidebar > li > form label {
  display: inline-block;
  position: relative;
  float: none;
  overflow: hidden;
  width: 100%;
  margin-bottom: 0;
  padding: 7px 65px 7px 15px;
  font-weight: normal;
  line-height: 20px;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
}
.modal-title { line-height: 1; }
.modal-body > form { margin: -15px; }
.modal-body > form > *:nth-child(2n+2) {
  border-top: 1px solid #eee;
}
.modal-body > form > *:nth-child(4n) {
  background-color: #f9f9f9;
}
.modal-body > form > label > .quantity {
  float: right;
}
.tab-content .tab-pane {
  padding: 20px 30px 40px;
  background-color: #f9f9f9;
}
.tab-content .tab-pane h3,
.tab-content .tab-pane h4 {
  font-weight: bold;
  max-width: 700px;
}
.tab-content .tab-pane h4 ~ h4 {
  margin-top: 30px;
}
.tab-content .tab-pane p {
  line-height: 1.6125;
  max-width: 600px;
  font-size: 1.2em;
}
.modal .nav-tabs li:first-child a,
.modal2 .nav-tabs li:first-child a {
  border-left: none;
  border-top-left-radius: 0;
}
.modal .nav-tabs li.active a,
.modal2 .nav-tabs li.active a {
  background-color: #f9f9f9;
}
.filter .modal-nav {
  padding: 10px 20px;
}
.filter .modal-nav .btn-group {
  margin-left: 10px;
}

.sidebar-toggle { display: none; }
.resultCell .description > .quickLook { display: none; }

@media screen and (max-width: 1200px) {
  .grid .resultCell { width: 33.3333333333%; }
  .grid .resultCell:nth-child(4n + 1) { clear: none; }
  .grid .resultCell:nth-child(3n + 1) { clear: both; }
}

@media screen and (min-width: 992px) {
  .resultCell .imgBox:hover > img { opacity: 0.5; }
  .resultCell .imgBox button {
    border: none;
    font-weight: bold;
    border-radius: 28px;
    background-color: rgba(255, 255, 255, 0.875);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  .resultCell .imgBox button:hover { background-color: #fff; }
  .resultCell .imgBox:hover button {
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@media screen and (max-width: 992px) {
  .sidebar-toggle {
    display: inline-block;
    width: 100%;
    height: 50px;
    text-align: center;
    background-color: #333;
    cursor: pointer;
  }
  .sidebar-toggle > span {
    padding: 8px 16px;
    line-height: 50px;
    color: #fff;
  }
  .sidebar {
    max-width: 75%;
    opacity: 0;
    pointer-events: none;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  .sidebar.active {
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .col-md-offset-300px {
    padding-right: 0;
    padding-left: 0;
    margin-left: 0;
  }
  .search-toolBar { padding: 10px 20px; }
  .resultCell .imgBox > .quickLook {
    top: auto;
    bottom: 0;
    margin-top: 0;
    -webkit-transform: none;
            transform: none;
  }
  .resultCell .imgBox {
    padding-bottom: 45px;
    background-color: transparent;
  }
  .grid .resultCellCon { padding: 0 20px; }
  .grid .resultCell { padding: 30px 10px; }
  .grid .resultCell .imgBox {
    padding-bottom: 45px;
  }
  .resultCell .imgBox > .quickLook {
    top: auto;
    bottom: 0;
    margin-top: 0;
    -webkit-transform: none;
            transform: none;
  }
  .resultCell .quickLook button { width: 100%; }
}

@media screen and (max-width: 768px) {
  .search-toolBar-pagination { display: none; }
  
  .resultCell { padding: 30px 20px; }
  .resultCell label { width: 25%; }
  .resultCell > .description { width: 75%; }
  .resultCell .badge {
    position: absolute;
    top: 0;
    right: 0px;
    width: 15px;
    height: 15px;
    margin-top: 0;
    margin-left: 0;
    padding: 0;
  }
  .resultCell .badge > span { display: none; }
  .resultCell .imgBox {
    padding-bottom: 45px;
    background-color: transparent;
  }
  .resultCell .imgBox > .quickLook {
    top: auto;
    bottom: 0;
    margin-top: 0;
    -webkit-transform: none;
            transform: none;
  }
  .resultCell .quickLook button { width: 100%; }
  .resultCell.detail > label { width: 30%; }
  .resultCell.detail > .description { width: 70%; }
  .resultCell .actionBtnCon { display: none; }
  .resultCell.detail .actionBtnCon { 
    display: inherit;
    width: 100%;
    padding-top: 30px;
    padding-left: 0;
  }
}

@media screen and (max-width: 568px) {
  .resultCell { padding: 20px; }
  .resultCell .imgBox > .quickLook { display: none; }  
  .resultCell .imgBox {
    padding-bottom: 0;
  }
  .resultCell label { width: 30%; }
  .resultCell .description { width: 70%; }
  .resultCell .dpt-text { display: block; }
  .resultCell .description > p {
    margin-bottom: 5px;
    padding-top: 0;
  } 
  .resultCell .description > .quickLook {
    display: block;
    position: static;
    clear: both;
    margin-top: 10px;
    -webkit-transform: none;
            transform: none;
  }
  .resultCell-list { display: none; }
  .resultCell .caption { display: none; }
  .resultCell.detail .caption { display: inherit; }
  .resultCell.detail .resultCell-list { display: inherit; }
  .resultCell.detail .description > p {
    margin-bottom: 7px;
    padding-top: 0;
  } 
  .resultCell.detail .quickLook { display: none; }
}